* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 70px;
}

.navbar {
    background-color: #689887;
}

.nav-link {
    color: #FFFFFF;
    text-decoration: none;
}

.nav-link:hover {
    color: #92CDBB;
    text-decoration: none;
}

.fa.fa-navicon {
    color: #FFFFFF;
}

.jumbotron {

}

.btn-primary {
    color: #fff;
    background-color: #689887;
    border-color: #689887;
}

.btn-primary:hover {
    color: #fff;
    background-color: #76b4bd;
    border-color: #76b4bd;
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #76b4bd;
    border-color: #689887;
    box-shadow: 0 0 0 0.2rem rgba(104, 152, 135, 0.5);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #76b4bd;
    border-color: #689887;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(104, 152, 135, 0.5);
}

.alert-primary {
    color: #FFFFFF;
    background-color: #689887;
    border: none;
}

.profilepic {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    object-fit: cover;
}

.media .profilepic {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    object-fit: cover;
}

h5 {
    font-size: 1em;
}

.post {
    border: 1px solid lightgray;
}

.user-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;
    align-items: center;
}

.user-wrapper .profilepic {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar > .display-4 {
    font-size: 2em;
}

.username {
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    color: #343A40;
}

footer {
    color: #FFFFFF; 
    background-color: #343A40;
}

.friend-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.friend-wrapper .small {
    font-size: 0.6em;
}

.friend-wrapper .profilepic {
    height: 3em;
    width: 3em;
}